In [1]:
import pandas as pd

In [2]:
df= pd.read_csv('dog_food.csv')

In [3]:
df

     A  B     C   D  Spoiled
0    4  2  12.0   3      1.0
1    5  6  12.0   7      1.0
2    6  2  13.0   6      1.0
3    4  2  12.0   1      1.0
4    4  2  12.0   3      1.0
..  .. ..   ...  ..      ...
485  8  3   6.0   6      0.0
486  6  4   9.0  10      0.0
487  1  3   8.0   3      0.0
488  6  6   8.0   3      0.0
489  1  9   7.0   4      0.0

[490 rows x 5 columns]